.main{
    margin: auto;
    padding: 60px 0;
    margin-bottom: 25px;
    background-color: #ECE9DF;
    color: #333333;
}

.form{
    width: 320px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    gap: 20px;
    padding: 20px 0;
    box-shadow: 0px 4px 10px #aaaaaa;
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login label{
    display: grid;
    gap: 3px;
    font-size: 18px;
}

.login p{
    font-size: 16px;
    font-size: 18px;
}

.login input{
    width: 200px;
    padding: 8px 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    letter-spacing: 1.5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

.loginButton{
    font-weight: bold;
    letter-spacing: 5px;
    width: 200px;
    margin-top: 15px;
    background-color: #728d81;
    color: #ECE9DF;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.7);
    transition: .2s all ease-in;
    border-radius: 20px;
}

.loginButton:hover{
    box-shadow: none;
    transform: translateY(3px);
}

.loginButton p{
    font-size: 18px;
    padding: 6px 0px;
}

.loading{
    width: 20px;
    vertical-align: middle;
    padding: 8px 0px;
}

.error{
    color: rgb(225, 99, 155);
    font-size: 18px;
}

.toSignup a{
    text-decoration: none;
    color: #728d81;
    font-weight: bold;
    cursor: pointer;
}

