.box{
    overflow:auto;
    width: 183.5px;
    height: 360px;
    margin-top: 10px;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-auto-rows: 130px auto 20px;
}

.box::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
    background-color: #aaa; 
}

.box::-webkit-scrollbar-thumb {
    background: rgb(140, 138, 138);
    border-radius: 50px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic{
    padding: 20px 31px;
    font-size: 26px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 10px;
}

.username{
    margin-bottom: 20px;
}

.text{
    text-align: center;
    margin: 12px 15px;
    border-radius: 5px;
    word-wrap:break-word;
}

.link{
    text-align: center;
    background-color: antiquewhite;
    margin: 12px 15px;
    border-radius: 5px;
    word-wrap:break-word;
    text-overflow: ellipsis;
    box-shadow: 0px 2px 6px #AAAAAA;

    overflow: hidden;
}

.link a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.link:hover{
    transform: scale(1.02);
}

.footer{
    text-align: center;
    font-weight: bold;
    color: #728d81; 
    /* margin-top: 120px; */
}