.showing{
    width: 200px;
    height: 400px;
    background-color: #ECE9DF;
    border-radius: 30px;
    border: 8px solid rgba(0, 0, 0, 0.58);
    position: sticky;
    top: 150px;
}

.loading{
    width: 30px;
    margin: 20px 0 0 20px;
}

.box{
    overflow:auto;
    height: 94%;
    margin-top: 10px;
    text-align: center;
    display: grid;
    justify-content: center;

    align-items: center;
}

.box::-webkit-scrollbar {
    width: 8px;
    border-radius: 50px;
    background-color: #aaa; 
}

.box::-webkit-scrollbar-thumb {
    background: rgb(140, 138, 138);
    border-radius: 50px;
}

.userInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-self: center;
    border-bottom: 2px dotted gray;
    padding-bottom: 10px;
}

.noPic{
    padding: 20px 31px;
    font-size: 26px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 10px;
}

.pic{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.username{
    font-size: 20px;
    color: #333333;
    font-weight: bold;
}

.introduction{
    font-size: 14px;
    margin-top: 5px;
}

.text{
    text-align: center;
    border-radius: 5px;
    word-wrap:break-word;

    margin: 30px auto 12px;
    width: 20vh;
    font-weight: bold;
    padding: 0 5px;
    font-size: 15px;
    font-weight: bold;
}

.link{
    text-align: center;
    border-radius: 15px;
    word-wrap:break-word;
    text-overflow: ellipsis;
    box-shadow: 0px 2px 6px #AAAAAA;

    overflow: hidden;

    margin: 12px auto;
    width: 9rem;
    background-color: rgb(248, 247, 245);
}

.link a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
}

.link:hover{
    transform: scale(1.02);
}

.color{
    position: absolute;
    top: 0;
    right: -55px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colorPri{
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.645);
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid rgb(218, 216, 216);
    cursor: pointer;
    position: relative;
}

/* .colorPri:hover{
    outline: 2px solid rgb(154, 153, 153);
} */

.colorGreen{
    width: 30px;
    height: 30px;
    background-color: #4a7b64;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid rgb(218, 216, 216);
    cursor: pointer;
    position: relative;
}

.colorBlue{
    width: 30px;
    height: 30px;
    background-color: rgb(52 105 208);
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid rgb(218, 216, 216);
    cursor: pointer;
    position: relative;
}

.colorBlack{
    width: 30px;
    height: 30px;
    background-color: #333333;
    border-radius: 50%;
    border: 2px solid white;
    outline: 2px solid rgb(218, 216, 216);
    cursor: pointer;
    position: relative;
}

.colorPri:hover, .colorGreen:hover, .colorBlue:hover, .colorBlack:hover{
    outline: 2px solid rgb(154, 153, 153);
}

.active{
    outline: 2px solid rgb(154, 153, 153);
}

/* .colorPri::after, .colorBlue::after, .colorGreen::after, .colorBlack::after {
    position: absolute;
    bottom: -5px;
    content: '';
    left: -5px;
    width: 32px;
    height: 32px;
    border: 2px solid rgb(218, 216, 216);
    border-radius: 50%;
}

.colorPri:hover::after, .colorBlue:hover::after, .colorGreen:hover::after, .colorBlack:hover::after{
    border: 2px solid rgb(154, 153, 153);
} */

.img{
    width: 142px;
    margin: 10px 0;
    border-radius: 10px;
}

.lineBoxInner{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.line{
    width: 100%;
    border: 1px solid;
}

.footer{
    text-align: center;
    font-weight: bold;
    color: #728d81; 
    padding-top: 20px;
    font-family: 'Kaushan Script', cursive;
}

