.allText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    width: 100%;
    margin-top: 30px;
}

.noData{
    color: gray;
    font-size: 24px;
    padding-top: 50px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.textBox{
    width: 80%;
    width: 47vw;
    height: 102px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 10px #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
}


.drag{
    width: 24px;
    padding: inherit;
    cursor: grab;
}

.textValueAndEditPen{
    align-items: center;
    width: 80%;
    height: 62px;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.textValueAndEditPen:hover{
    background-color: #ECE9DF;
}

.textValue{
    width: 100%;
    margin-left: 5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.textNoValue{
    width: 100%;
    margin-left: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
    color: gray;
}

.editPen{
    width: 30px;
    margin-left: 20px;
    padding-right: 5px;
}

.edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #ECE9DF;
    position: relative;
    padding-left: 10px;
    height: 66px;
}

.textInput {
    width: 100%;
    height: 66px;
    padding: 0 45px 0 5px;
    background-color: #ECE9DF;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    overflow:hidden;
}

.editButton{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.saveButton{
    padding: 5px 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: #587367;
    color: white;
}

.saveButton:hover{
    background-color: #395347;
}

.cancelButton{
    padding: 5px 8px;
    cursor: pointer;
    color: white;
    background-color: #8080808f;
}

.displayToggleAndTrash{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 1vw;
    gap: 10px;
}

.displayToggleButton{
    width: 30px;
    height: 20px;
    cursor: pointer;
    color: green;

    transition: all .5s ease-in;
}

.trashButton{
    width: 30px;
    cursor: pointer;
}

.trashButton:hover{
    background-color: #ECE9DF;
    border-radius: 5px;
}

.linkBox{
    width: 47vw;
    height: 102px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 10px #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    animation: appear .4s ease-in-out;
}

.linkValueAndEditPen{
    align-items: center;
    width: 80%;
    height: 66px;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.linkValueAndEditPen:hover{
    background-color: #ECE9DF;
}

.linkEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: #ECE9DF;
    position: relative;
    padding-left: 10px;
    height: 66px;
}

.titleInput{
    width: 80%;
    height: 31px;
    padding: 0 15px 0 5px;
    background-color: #ECE9DF;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    overflow:hidden;
    border-bottom: 1px solid #fff;
}

.linkInput{
    width: 80%;
    height: 31px;
    padding: 0 15px 0 5px;
    background-color: #ECE9DF;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    overflow:hidden;
}

.picBox{
    width: 47vw;
    height: auto;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 10px #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.imgValueAndEditPen:hover{
    background-color: #ECE9DF;
}

.imgValueAndEditPen{
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.imgValue{
    height: 20vw;
}

.imgNoValue{
    height: 20vw;
    color: gray;
    display: flex;
    align-items: center;
}

.img{
    width: 100%;
    height: 20vw;
    aspect-ratio: 4/3;
    padding: 10px 0;
}

.picEdit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    background-color: #ECE9DF;
    padding-left: 10px;
}

.imgValueEdit{
    height: 20vw;
}

.noImgValueEdit{
    height: 20vw;
    display: flex;
    width: 100%;
    align-items: center;
}

.noImage{
    color: gray;
    font-size: 18px;
}

.imgEdit{
    width: 100%;
    height: 20vw;
    aspect-ratio: 4/3;
    padding: 10px 0;
}

.picEditButton{
    display: flex;
    flex-direction: column;
    width: 65px;
    align-items: flex-end;
    justify-content: center;
}

.uploadButton{
    font-weight: bold;
    cursor: pointer;
    background-color: #587367;
    color: white;
    margin-bottom: 20px;
}

.uploadButton:hover{
    background-color: #395347;
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
.fileLabel {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px 8px;
}

@media (max-width: 700px) {
    .allText{
        width: 90%;
    }

    .textBox, .linkBox, .picBox{
        width: 90vw;
        gap: 0;
    }

    .linkInput, .titleInput{
        width: 75%;
    }

    .imgValue, .img, .imgValueEdit, .imgEdit, .imgNoValue, .noImgValueEdit{
        height: 40vw;
        width: 90%;
    }
}