.main{
    max-width: 900px;
    margin: 70px auto 100px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 45px;   
}

.left{
    margin-left: 65px;
    display: grid;
    gap: 15px;
}

.slogan{
    color: #ECE9DF;
    font-size: 37px;
    font-weight: bold;
    line-height: 75px;
    letter-spacing: 3px;
}

.button{
    width: 150px;
    height: 50px;
    padding: 5px 0;
    font-size: 26px;
    text-align: center;
    background-color: #587367;
    background-color: #ECE9DF;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.5);
    transition: .2s all ease-in;
}

.button a{
    text-decoration: none;
    color: #ECE9DF;
    color: #587367;
    font-weight: bold;
}

.button:hover{
    box-shadow: none;
    transform: translateY(3px);
}

.right{
    justify-self: center;
}

.demo{
    border-radius: 32px;
    border: 2px solid rgb(87 72 72 / 58%);
}

@media (max-width: 700px) {
    .main{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .left{
        justify-items: center;
        margin: 0 15px;
        text-align: center;
    }

    .slogan{
        font-size: 30px;
    }
}