$light-green: #728d81;
$deep-green: #587367;
$natural: #ECE9DF;
$translucent-black: rgba(0, 0, 0, 0.5);

.home_main{
    max-width: 900px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 50px;

    .left{
        margin-left: 65px;
        display: grid;
        gap: 15px;
        color: $natural;

        .slogan{
            font-size: 40px;
            font-weight: bold;
            line-height: 70px;
            letter-spacing: 3px;
        }

        .start_button{
            width: 150px;
            height: 50px;
            padding: 5px 0;
            font-size: 26px;
            text-align: center;
            background-color: #587367;
            cursor: pointer;
            border-radius: 20px;
            border: 2px solid $translucent-black;
            box-shadow: 2px 3px 1px 0px $translucent-black;
            transition: .2s all ease-in;

            a{
                text-decoration: none;
                color: $natural;
                font-weight: bold;
            }

            &:hover{
                box-shadow: none;
                transform: translateY(3px);
            }
        }
    }

    .right{

        .iphone{
            width: 230px;
            height: 350px;
            background-color: $natural;
            border-radius: 15px;
        }
    }
}