.wrapper{
    background-color:  #ECE9DF;
}

.loadingDiv{
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}

.loading{
    width: 10vw;
}

.main{
    display: grid;
    grid-auto-rows: auto minmax(300px, auto) 100px;
    justify-items: center;
    min-height: 100vh;
    padding-top: 50px;
}

.errorMain{
    display: grid;
    grid-auto-rows: auto 100px;
    justify-items: center;
    min-height: 100vh;
    padding-top: 50px;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.error h1{
    font-size: 80px;
    color: #5a5858;
}

.error h4{
    font-size: 20px;
    color: #5a5858;
}

.error ul{
    list-style: none;
    text-align: center;
    color: #5a5858;
    font-weight: bold;
    font-size: 20px;
}

.error ul li{
    margin-bottom: 10px;
}

.backToHomeLink{
    padding: 15px 0;
    cursor: pointer;
}

.backToHomeButton{
    font-weight: bold;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: #728d81;
    color: #ECE9DF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.userInfo{
    width: 25vw;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 4px dotted gray;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    object-fit: cover;
}

.noPic{
    width: 100px;
    height: 100px;
    font-size: 26px;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName{
    font-size: 24px;
    color: #333333;
    font-weight: bold;
}

.introduction{
    margin-top: 5px;
}


.allList{
    width: 25vw;
    margin-bottom: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.list{
    width: 100%;
    font-size: 20px;
}

.text{
    padding: 30px 5px 10px;
    font-weight: bold;
    word-wrap: break-word;
}

.link{
    background-color: rgb(248, 247, 245);
    border-radius: 20px;
    box-shadow: 0px 4px 10px #AAAAAA;
    cursor: pointer;
    margin: 20px 0 10px;

    transition: all 0.2s ease-in;
}

.link a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 16px;
}

.link:hover{
    transform: scale(1.02);
}

.img{
    width: 25vw;
    margin: 20px 0 10px;
    border-radius: 10px;
}

.lineBoxInner{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.line{
    width: 100%;
    border: 1px solid;
}

.logo{
    text-align: center;
    margin-top: 50px;
}

.logo a{
    color: #728d81;

    font-size: 24px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}

@media (max-width: 700px) {
    .userInfo, .allList, .img{
        width: 80vw;
    }
}