.wrapper{
    background-color:  #ECE9DF;
}

.main{
    display: grid;
    grid-auto-rows: 260px minmax(300px, auto) 100px;
    justify-items: center;
    min-height: 100vh;
}

.userInfo{
    width: 310px;
    text-align: center;
    margin: 50px 0 30px;
    padding-bottom: 30px;
    border-bottom: 5px dashed rgba(255, 255, 255, 0.609);
    border-bottom: 3px dotted rgb(163, 159, 159);
    /* border-bottom: 3px solid #728d81; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.userName{
    font-weight: bold;
    font-size: 24px;
}

.allList{
    width: 300px;
    margin-bottom: 15px;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.list{
    width: 100%;
    font-size: 20px;
}

.text{
    padding: 10px 0;
    font-weight: bold;
}

.link{
    background-color: rgb(248, 247, 245);
    border-radius: 5px;
    box-shadow: 0px 4px 10px #AAAAAA;
    cursor: pointer;
    margin-bottom: 15px;

    transition: all 0.2s ease-in;
}

.link a{
    text-decoration: none;
    color: black;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.link:hover{
    transform: scale(1.02);
}

.logo{
    text-align: center;
    padding: 20px 0;
}

.logo a{
    color: #728d81;

    font-size: 24px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}