nav{
    display: grid;
    grid-template-columns: 2fr 1.8fr;
    margin: auto;
    padding: 10px 3vw;
    border-bottom: 5px solid #ECE9DF;
    background-color: #728d81;
    position: sticky;
    top: 0;
    z-index: 5;
}

.title{
    margin-left: 15px;
}

.title a{
    text-decoration: none;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 5px;
    color: #ECE9DF;
}

.title a:hover{
    color: #ece9df95;
}

.loginComputer{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: bold;
}

.login{
    padding: 5px 0;
}

.login a{
    padding: 5px 12px 5px 15px;
    text-decoration: none;
    color: #ECE9DF;
}

.login:hover{
    border-radius: 5px;
    border: 2px solid #ECE9DF;
}

.signup{
    border: 2px solid #587367;
    background-color: #ECE9DF;
    padding: 5px 0;
    border-radius: 5px;
}

.signup a{
    text-decoration: none;
    color: #587367;
    padding: 8px 15px;
}

.signup:hover{
    border: 2px solid #ECE9DF;
    background-color: #587367;
}

.signup a:hover{
    color: #ECE9DF;
}

.member a{
    text-decoration: none;
    color: #ECE9DF;
}

.member a:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #587367;
}

.openDoor{
    color: #ECE9DF;
    cursor: pointer;
}

.openDoor a:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid #587367;
}

.copy{
    position: absolute;
    background-color: #587367;
    top: 76px;
    width: 150px;
    height: 90px;
    right: -120px;
    right: 62px;
    overflow: hidden;
    padding: 10px 10px 10px 15px;
    border-radius: 0 0 10px 10px;
    animation: appear 0.2s ease-in;
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.goToDoor{
    color: #ECE9DF;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
}

.copyButton{
    border: none;
    color: #ECE9DF;
    background: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
}

.goToDoor:hover, .copyButton:hover{
    color: white;
}

.logout{
    padding: 5px 12px;
    color: #ECE9DF;
    border-radius: 5px;
    border: 2px solid #ECE9DF;
    cursor: pointer;
}

.logout:hover{
    background-color: #ECE9DF;
    color: #728d81;
}

.loginMobile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    display: none;
}

.hamburger, .close{
    width: 50px;
    height: 50px;
    position: relative;
}

.link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 69px;
    left: 0;
    z-index: 2;
    height: 100%;
    color: #ECE9DF;
    font-size: 18px;
    background-color: #728d81;
    animation: open .3s ease-in-out;

    display: none;
}

@keyframes open {
    0% {
        right: -100vw;
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        right: -10px;
        opacity: 1;
    }
}

.loginSide{
    border-bottom: 1px solid #ece9df6f;
    display: grid;
    grid-template-columns: 1fr;
}

.loginSide a{
    padding:15px 0 15px 28px;
    color: #ECE9DF;
    text-decoration: none;
}

.signupSide{
    display: grid;
    grid-template-columns: 1fr;
}

.signupSide a{
    padding:15px 0 15px 28px;
    color: #ECE9DF;
    text-decoration: none;
}

.memberSide{
    display: grid;
    grid-template-columns: 1fr;
}

.memberSide a{
    padding:15px 0 15px 28px;
    color: #ECE9DF;
    text-decoration: none;
    border-bottom: 1px solid #ece9df6f;
}

.doorSide{
    border-bottom: 1px solid #ece9df6f;
    padding: 15px 0 15px 28px;
    cursor: pointer;
    position: relative;
}

.plus{
    position: absolute;
    top: 6px;
    right: 32px;
    font-size: 26px;
}

.closeDoor{
    width: 20px;
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.doorMobile{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    gap: 10px;
}

.goToDoorMobile{
    text-decoration: none;
    color: #ECE9DF;
    font-weight: bold;
    letter-spacing: 1px;
}


.copyButtonMobile{
    border: none;
    color: #ECE9DF;
    background: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: inherit;
}

.logoutSide{
    padding:15px 0 15px 28px;
    cursor: pointer;
}

.popupCopy{
    position: absolute;
    top: 15px;
    left: 50vw;
    background-color: #433b3b;
    color: #ECE9DF;
    padding: 5px;
    border-radius: 5px;
    animation: appear 0.2s ease-in;
    z-index: 10;
}

@media (max-width: 700px) {
    nav{
        grid-template-columns: auto 65px;
    }

    .title{
        align-self: center;
    }

    .title a{
        font-size: 24px;
    }

    .loginComputer{
        display: none;
    }

    .loginMobile{
        display: flex;
    }

    .link{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}