$light-green: #728d81;
$deep-green: #587367;
$natural: #ECE9DF;
$translucent-black: rgba(0, 0, 0, 0.5);

nav{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
    margin: 10px auto 70px;

    border-bottom: 5px solid $natural;

    .nav_title{
        margin-left: 15px;

        a{
            text-decoration: none;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: 5px;
            font-family: 'Jim Nightshade', cursive;
            font-family: 'Kaushan Script', cursive;
            color: $natural;
        }
        
        // padding-top: 8px;

        // font-size: 40px;
        // font-weight: bold;
        // letter-spacing: 5px;
        // font-family: 'Jim Nightshade', cursive;
        // font-family: 'Kaushan Script', cursive;
    }

    .nav_login_signup{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        margin-right: 15px;

        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .login{
        padding: 5px 0;
        
        a{
            padding: 5px 12px 5px 15px;
            text-decoration: none;
            color: $natural;
        }

        &:hover{
            border-radius: 5px;
            border: 2px solid $natural;
        }
    }

    .signup{
        border: 2px solid $deep-green;
        background-color: $natural;
        padding: 5px 0;
        border-radius: 5px;

        &:hover{
            border: 2px solid $natural;
            background-color: $deep-green;
        }

        a{
            text-decoration: none;
            color: $deep-green;
            padding: 8px 15px;

            &:hover{
                color: $natural;
            }
        }
    }


}