.allText{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.noData{
    color: gray;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.textBox{
    width: 47vw;
    height: 102px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 10px #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: all .3s linear;
}


.drag{
    width: 24px;
    padding: inherit;
    cursor: grab;
}

.textValueAndEditPen{
    align-items: center;
    width: 80%;
    height: 62px;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;
}

.textValueAndEditPen:hover{
    background-color: #ECE9DF;
}

.textValue{
    width: 100%;
    margin-left: 5px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.textNoValue{
    width: 100%;
    margin-left: 5px;
    overflow:hidden;
    text-overflow: ellipsis;
    color: gray;
}

.editPen{
    width: 30px;
    padding-right: 5px;
    cursor: pointer;
}

.edit{
    display: flex;
    justify-content: space-between;
    width: 80%;
    background-color: #ECE9DF;
    position: relative;
    padding-left: 10px;
    height: 66px;
    border-radius: 5px;
}

.textInput {
    width: 100%;
    height: 66px;
    padding: 0 45px 0 5px;
    background-color: #ECE9DF;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    overflow:hidden;
}

.editButton{
    align-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    border-radius: 10px 0 0 10px;
    border: 1px solid #587367;
    background-color: #587367;
    width: 45px;
    text-align: center;
    box-shadow: 0px 1px 6px rgb(140 138 138);
    animation: dude .5s 1 forwards;
}

@keyframes dude {
    0% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.TextSaveButton{
    padding: 4px 5px;
    cursor: pointer;
    border-radius: 10px 0 0 0;
    height: 50%;
    transition: all .3s linear;
}

.TextCancelButton{
    padding: 4px 5px;
    cursor: pointer;
    border-radius: 0 0 0 10px;
    height: 50%;
    transition: all .3s linear;
}

.TextSaveButton:hover, .TextCancelButton:hover{
    background-color: #395347;
}

.saveButton, .cancelButton{
    padding: 5px 0;
    cursor: pointer;
    transition: all .3s linear;
}

.saveButton:hover, .cancelButton:hover{
    background-color: #395347;
}

.displayToggleAndTrash{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 1vw;
    gap: 10px;
}

.displayToggleButton{
    width: 30px;
    height: 20px;
    cursor: pointer;
    color: green;
    transition: all .5s ease-in;
}

.trashButton{
    width: 30px;
    cursor: pointer;
    transition: all .3s linear;
}

.trashButton:hover{
    background-color: #ECE9DF;
    border-radius: 5px;
}

.linkBox{
    width: 47vw;
    height: 102px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 10px #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    animation: appear .4s ease-in-out;
    transition: all .3s linear;
}

.linkValueAndEditPen{
    align-items: center;
    width: 80%;
    height: 66px;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}

.linkValueAndEditPen:hover{
    background-color: #ECE9DF;
}

.linkEdit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    background-color: #ECE9DF;
    position: relative;
    padding-left: 10px;
    height: 66px;
    flex-wrap: wrap;
    border-radius: 5px;
}

.titleInput{
    width: 80%;
    height: 31px;
    padding: 0 15px 0 5px;
    background-color: #ECE9DF;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    overflow:hidden;
    border-bottom: 1px solid #fff;
}

.linkInput{
    width: 80%;
    height: 31px;
    padding: 0 15px 0 5px;
    background-color: #ECE9DF;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: 1px;
    overflow:hidden;
}

.picBox{
    width: 47vw;
    height: auto;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 4px 10px #AAAAAA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    transition: all .3s linear;
}

.imgValueAndEditPen{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s linear;
}

.imgValueAndEditPen:hover{
    background-color: #ECE9DF;
}

.imgValue{
    height: 20vw;
    padding-left: 10px;
    cursor: auto;
}

.imgNoValue{
    height: 20vw;
    width: 100%;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 100%;
    height: 20vw;
    aspect-ratio: 4/3;
    padding: 10px 0;
}

.picEdit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    background-color: #ECE9DF;
    padding-left: 10px;
    border-radius: 5px;
}

.imgValueEdit{
    height: 20vw;
}

.noImgValueEdit{
    height: 20vw;
    display: flex;
    width: 100%;
    align-items: center;
}

.noImage{
    color: gray;
    font-size: 18px;
    width: 85%;
    height: 85%;
    border: 4px dashed gray;
    margin-left: 10px;
}

.imgEdit{
    width: 100%;
    height: 20vw;
    aspect-ratio: 4/3;
    padding: 10px 0;
}

.picEditButton{
    display: flex;
    flex-direction: column;
    width: 45px;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    border: 1px solid #587367;
    background-color: #587367;
    text-align: center;
    box-shadow: 0px 1px 6px rgb(140 138 138);
    animation: dude .5s 1 forwards;
}

@keyframes dude {
    0% {
        transform: translateX(10px);
      }
    100% {
        transform: translateX(0px);
    }
}

.imageIcon{
    width: 2.5vw;
    vertical-align: middle;
}

.addImage, .checkIcon, .cancelIcon{
    width: 50%;
    vertical-align: middle;
}

.uploadButton{
    font-weight: bold;
    cursor: pointer;
    background-color: #587367;
    color: white;
    margin-bottom: 20px;
    transition: all .3s linear;
}

.uploadButton:hover{
    background-color: #395347;
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
  
.fileLabel {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 5px 0;
}

.picInfo{
    color: gray;
    margin-top: 15px;
}

.lineBox{
    width: 47vw;
    height: 80px;
    background-color: white;
    box-shadow: 0px 4px 10px #aaaaaa;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: all .3s linear;
}

.lineBoxInner{
    width: 80%;
    display: flex;
    justify-content: center;
}

.line{
    width: 75%;
    border: 1px solid;
}

.popup{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 5;
    background-color: #80808066;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBox{
    background-color: white;
    padding: 35px 60px;
    border-radius: 10px;
    text-align: center;
}

.popupTitle{
    font-weight: bold;
    color: #665d5d;
    margin-bottom: 30px;
}

.alter{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.cancelDeleteButton{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #665d5d;
    font-weight: bold;
    margin-right: 10px;
    transition: all .3s linear;
}

.cancelDeleteButton:hover{
    background-color: #c6bbbb;
}

.deleteButton{
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: #665d5d;
    font-weight: bold;
    background-color: rgb(212 100 100);
    color: white;
    margin-left: 10px;
    transition: all .3s linear;
}

.deleteButton:hover{
    background-color: rgb(177 51 51);
}

@media (max-width: 700px) {
    .allText{
        width: 90%;
    }

    .textBox, .linkBox, .picBox, .lineBox{
        width: 90vw;
        gap: 0;
    }

    .linkInput, .titleInput{
        width: 75%;
    }

    .imgValue, .img, .imgValueEdit, .imgEdit, .imgNoValue, .noImgValueEdit{
        height: 40vw;
        width: 90%;
    }
    
}