.main{
    display: grid;
    grid-template-rows: minmax(600px, auto);
    margin: auto;
    background-color: #ECE9DF;
}

.container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-items: center
}

.left{
    display: grid;
    justify-items: center;
    padding: 10px 0px 30px;
    margin-left: 20px;
    grid-template-rows: auto auto minmax(400px, auto) auto;
}

.right{
    margin: 95px 80px;
    margin: 95px 71px;
}

.preview{
    background-color: #ECE9DF;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 2px 4px #AAAAAA;

    position: fixed;
    bottom: 30px;
    right: 43vw;

    display: none;
}

.smartphone{
    width: 34px;
    vertical-align: middle;
}

.loading{
    width: 9vw;
    border-radius: 50%;
    margin-top: 50px;
}

@media (max-width: 700px) {
    .container{
        grid-template-columns: 1fr;
    }
    
    .edit{
        margin-left: 5px;
    }

    .left{
        grid-template-rows: 280px auto;
        margin-left: 0px;
        margin-bottom: 150px;

        grid-template-rows: auto auto;
    }

    .allTex{
        margin-top: 0px;
    }

    .right{
        display: none;
    }

    .preview{
        display: block;
    }
}


